# Visual Studio Code
./vscode/*
/client/.vscode/*
/server/.vscode/*

# build
/build/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# executable files
/client/client
/server/server